.courseCard {
    border: 2px solid black;
    background: paleturquoise;
    margin: 25px auto;
    padding: 10px 20px 20px 20px;
    position: relative;
    max-width: 900px;
    box-shadow: 5px 5px #000;
}

.titleLink {
    display: inline-block;
}

.titleLink h3 {
    margin-bottom: 0;
}

#addCourseForm {
    padding-bottom: 20px;
}

#addCourseForm label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.courseShelfChanger {
    position: absolute;
    bottom: -14px;
    right: -14px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: blue;
    background-image: url('../../icons/arrow-drop-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,.20), 0 3px 6px rgba(0,0,0,.3);
    transition: box-shadow 0.2s;
}

.courseShelfChanger:hover {
    box-shadow: none;
}

.courseShelfChanger select {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.editCourseButton {
    position: absolute;
    bottom: -14px;
    right: 32px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.20), 0 3px 6px rgba(0,0,0,.3);
    transition: box-shadow 0.2s;
}

.editCourseButton:hover {
    cursor: pointer;
    box-shadow: none;
}

.editCourseButton-editModeOff {
    background: blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-image: url('../../icons/edit-course.svg');
}

.editCourseButton-editModeOn {
    background: green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-image: url('../../icons/check-submit-edit.svg');
}

.cancelEditCourseButton {
    position: absolute;
    bottom: -14px;
    right: 78px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.20), 0 3px 6px rgba(0,0,0,.3);
    transition: box-shadow 0.2s;
    background: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    background-image: url('../../icons/cancel-course-edit.svg');
}

.cancelEditCourseButton:hover {
    cursor: pointer;
    box-shadow: none;
}