.submissionErrorsOnCourseEdit {
    max-width: 900px;
    margin: 15px auto 10px auto;
    padding: 5px 20px;
    border: 2px solid red;
    color: red;
    text-align: center;
    box-shadow: 5px 5px red;
}

.closeErrorNotification {
    float: right;
    position: relative;
    bottom: 0;
    right: -15px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.20), 0 3px 6px rgba(0,0,0,.3);
    transition: box-shadow 0.2s;
    background: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    background-image: url('../../icons/cancel-course-edit.svg');
    &:hover {
        box-shadow: none;
    }
}

.errorOnCourseEditMessage {
    margin: 0;
}