body {
    padding: 20px 20px 70px 20px;
}

h1 {
    max-width: 900px;
    margin: 0 auto;
}

.submissionErrors {
    max-width: 900px;
    margin: 15px auto 10px auto;
    padding: 5px 20px;
    border: 2px solid red;
    color: red;
    text-align: center;
    box-shadow: 5px 5px red;
}

.addCourseForm {
    border: 2px solid black;
    background: paleturquoise;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    max-width: 900px;
    box-shadow: 5px 5px #000;
}

form {
    margin: 0 auto;
    width: 100%;
}

form div + div {
    margin-top: 1em;
}

label {
    display: block;
    margin-bottom: 0.25em;
    font-size: 1.1em;
}

input, textarea {
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    vertical-align: top;
    height: 5em;
}

select {
    width: 100%;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    bottom: -20px;
    right: 32px;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.20), 0 3px 6px rgba(0,0,0,.3);
    transition: box-shadow 0.2s;
    background: green;
    color: #fff;
    font-size: 16px;
}

.buttonText {
    margin-left: 10px;
}

.buttonCheck {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    background-image: url('../../icons/add.svg');
}

button:hover {
    cursor: pointer;
    box-shadow: none;
}

.backToHomeIcon {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
.backToHomeIcon a {
    display: block;
    width: 50px;
    height: 50px;
    background: navy;
    background-image: url('../../icons/arrow-back.svg');
    background-repeat: none;
    background-position: center;
    background-size: 45px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.20), 0 3px 6px rgba(0,0,0,.3);
    transition: box-shadow 0.2s;
    font-size: 0;
}

.backToHomeIcon a:hover {
    box-shadow: none;
    cursor: pointer;
}