.App {
  padding: 0 20px;
}

.shelf h2 {
  font-weight: bold;
  text-decoration: underline;
}

.addCourseIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.addCourseIcon a {
  display: block;
  width: 50px;
  height: 50px;
  background: navy;
  background-image: url('./icons/add.svg');
  background-repeat: none;
  background-position: center;
  background-size: 45px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,.20), 0 3px 6px rgba(0,0,0,.3);
  transition: box-shadow 0.2s;
  font-size: 0;
}

.addCourseIcon a:hover {
  box-shadow: none;
  cursor: pointer;
}